<tree-table [columns]="columns">
  <tree-table-node>
    <ng-container class="node-columns">
      <td firstColumn>
        Node 1
      </td>
      <td>Some Value</td>
      <td>Some Value</td>
      <td>Some Value</td>
    </ng-container>
    <ng-container class="node-children">
      <tree-table-node>
        <ng-container class="node-columns">
          <td firstColumn>
            Node 2
          </td>
          <td>Some Value</td>
          <td>Some Value</td>
          <td>Some Value</td>
        </ng-container>
      </tree-table-node>
      <tree-table-node>
        <ng-container class="node-columns">
          <td firstColumn>
            Node 3
          </td>
          <td>Some Value</td>
          <td>Some Value</td>
          <td>Some Value</td>
        </ng-container>
        <ng-container class="node-children">
          <tree-table-node>
            <ng-container class="node-columns">
              <td firstColumn>
                Node 4
              </td>
              <td>Some Value</td>
              <td>Some Value</td>
              <td>Some Value</td>
            </ng-container>
          </tree-table-node>
          <tree-table-node>
            <ng-container class="node-columns">
              <td firstColumn>
                Node 5
              </td>
              <td>Some Value</td>
              <td>Some Value</td>
              <td>Some Value</td>
            </ng-container>
            <ng-container class="node-children">
              <tree-table-node>
                <ng-container class="node-columns">
                  <td firstColumn>
                    Node 6
                  </td>
                  <td>Some Value</td>
                  <td>Some Value</td>
                  <td>Some Value</td>
                </ng-container>
              </tree-table-node>
              <tree-table-node>
                <ng-container class="node-columns">
                  <td firstColumn>
                    Node 7
                  </td>
                  <td>Some Value</td>
                  <td>Some Value</td>
                  <td>Some Value</td>
                </ng-container>
                <ng-container class="node-children">
                  <tree-table-node>
                    <ng-container class="node-columns">
                      <td firstColumn>
                        Node 8
                      </td>
                      <td>Some Value</td>
                      <td>Some Value</td>
                      <td>Some Value</td>
                    </ng-container>
                  </tree-table-node>
                  <tree-table-node>
                    <ng-container class="node-columns">
                      <td firstColumn>
                        Node 9
                      </td>
                      <td>Some Value</td>
                      <td>Some Value</td>
                      <td>Some Value</td>
                    </ng-container>
                  </tree-table-node>
                  <tree-table-node>
                    <ng-container class="node-columns">
                      <td firstColumn>
                        Node 10
                      </td>
                      <td>Some Value</td>
                      <td>Some Value</td>
                      <td>Some Value</td>
                    </ng-container>
                    <ng-container class="node-children">
                      <tree-table-node>
                        <ng-container class="node-columns">
                          <td firstColumn>
                            Node 11
                          </td>
                          <td>Some Value</td>
                          <td>Some Value</td>
                          <td>Some Value</td>
                        </ng-container>
                        <ng-container class="node-children">
                          <tree-table-node>
                            <ng-container class="node-columns">
                              <td firstColumn>
                                Node 13
                              </td>
                              <td>Some Value</td>
                              <td>Some Value</td>
                              <td>Some Value</td>
                            </ng-container>
                          </tree-table-node>
                          <tree-table-node>
                            <ng-container class="node-columns">
                              <td firstColumn>
                                Node 14
                              </td>
                              <td>Some Value</td>
                              <td>Some Value</td>
                              <td>Some Value</td>
                            </ng-container>
                          </tree-table-node>
                        </ng-container>
                      </tree-table-node>
                      <tree-table-node>
                        <ng-container class="node-columns">
                          <td firstColumn>
                            Node 12
                          </td>
                          <td>Some Value</td>
                          <td>Some Value</td>
                          <td>Some Value</td>
                        </ng-container>
                      </tree-table-node>
                    </ng-container>
                  </tree-table-node>
                </ng-container>
              </tree-table-node>
            </ng-container>
          </tree-table-node>
        </ng-container>
      </tree-table-node>
    </ng-container>
  </tree-table-node>
</tree-table>
